$sizes: (
  "xs": 320px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

$svg-size: 25px;

@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}

.buyItem {
  @include media("max", "sm") {
    input {
    }
  }

  input {
    width: auto;
    text-align: center;
  }

  svg {
    width: $svg-size;
    height: $svg-size;
    margin: 2px;
  }

  .buttons {
    display: flex;
  }
}
